// src/app/pages/pedidos/pedidos.page.scss
ion-content {
  --background: #f5f5f5;
}

.ion-text-center {
  h2 {
    color: #333;
    margin: 20px 0;
  }
  
  p {
    color: #666;
    line-height: 1.6;
  }
  
  ul {
    li {
      margin: 10px 0;
      line-height: 1.8;
    }
  }
}